In [1]:
import csv
import pandas as pd
import numpy as np
from pathlib import Path
import re

In [2]:
with open('train.txt', 'r') as file:
    lines = [line.strip().split('\t') for line in file]
    with open('train.csv', 'w') as out_file:
        writer = csv.writer(out_file)
        writer.writerows(lines)

In [3]:
with open('train.txt', 'r') as file:
    lines = [line.strip().split('\t') for line in file]
    for i in lines:
        if len(i) == 4:
            i.insert(2, None)
        if len(i) == 3:
            i.insert(2, None)
            i.insert(2, None)
    with open('train.csv', 'w') as out_file:
        writer = csv.writer(out_file)
        writer.writerows(lines)

In [6]:
df = pd.read_csv('train.csv')

In [121]:
labels = {'__label__INSULT' : 'insult' , '__label__NORMAL' : 'normal' , '__label__THREAT' : 'threat', '__label__OBSCENITY' : 'obscenity'}

In [7]:
df

,41127,__label__THREAT,Unnamed: 2,Unnamed: 3,дворника надо тоже уничтожить!
0,6812,__label__NORMAL,NaN,NaN,"моя старшая неделю шипела, не принимала подкид..."
1,6256,__label__NORMAL,NaN,NaN,полностью с вами согласна!
2,189636,__label__NORMAL,NaN,NaN,"хоть ногу вверх, ничего не изменится"
3,99053,__label__NORMAL,NaN,NaN,а что значит - левого ребенка?
4,98418,__label__NORMAL,NaN,NaN,"вечер добрый! а, что он у вас уже постарел?!"
...,...,...,...,...,...
148769,99767,__label__NORMAL,NaN,NaN,"а вы думаете что полиция об этом не знает, про..."
148770,87456,__label__NORMAL,NaN,NaN,"ну а что вы тут возмущаетесь , все ведь точно ..."
148771,185614,__label__NORMAL,NaN,NaN,затерли до дыр данный ролик сколько лет ему уж...
148772,86412,__label__INSULT,NaN,NaN,если проследят за пидором то накажут
148773,205906,__label__INSULT,NaN,NaN,редкий долбоёб